#IMGSDA{
    display: block;
    margin-left: 10px;
    margin-right: auto;
}
	
#logo{

margin:40px;
float:left;

}

#title{
	
	text-align:left;
	font-family:KoblenzBook;
	font-size:12pt;
	color:#ec008b;
}

#header{
    
	margin-top: 50px;
	text-align:center;
	font-family:KoblenzBook;
	font-size:16pt;
	color:#808080;
}



a{
	text-decoration: none;
	color: #27a9e1;
}

#vertical_line{

	margin-left: 200px;
	margin-right: 50px;
	height:480px; 
	width:1px;
	background:#808080;
	float: left;
	}
	
#con{
  margin-top: 30px;
  text-align: center;
  color: #666;
  margin-bottom: 30px;
  
}

#container{
	float: left;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
select{
	
  padding: 10px 20px;
  border: transparent;
  border-bottom: 1px solid #999;
  display: block;
  width: 90%;
  margin-left: 300px;
  margin-bottom: 20px;
  box-sizing: border-box;
 
}



#submit{
	 width: 40%;
	z-index:50;
	display: inline-block;
    font-family:KoblenzBook;
  color: #27a9e1 ;
  text-transform: uppercase;
   border-style: solid;
    border-color: #27a9e1 #27a9e1;
	border-width:2px;
  border-radius: 25px;
}

#submit:hover{ 

   color: #fff;
   background-color: #27a9e1;
}

#entry{
	
	margin-left:280px
}


#alt{
	
	float:left;
	font-family:KoblenzBook;
	font-size:14pt;
	color:#808080;
	
}

form{
	margin-left:-300px;
}